@model Tweater.Models.TweaterUserProfileVM

@{
    ViewBag.Title = $"{Model.UserHandle}'s Profile";
}

<h2>@Model.UserHandle</h2>

<div>@Model.Followers followers</div>
<div>Folowing @Model.Following</div>
<div>@Model.TweatCount Tweats</div>


@foreach (var item in Model.Tweats)
{
    <div class="tweat">
        <div class="tweatbody">@Html.DisplayFor(modelItem => item.Body)</div>
        <div>On  @Html.DisplayFor(modelItem => item.CreateDate)</div>
    </div>
}